@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ttramillas-extralightregular';
    src: url('/fonts/ttramillas-extralight.woff2') format('woff2'),
         url('/fonts/ttramillas-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ttramillas-extralightitalicRg';
    src: url('/fonts/ttramillas-extralightitalic.woff2') format('woff2'),
         url('/fonts/ttramillas-extralightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sweet_sans_promedium';
    src: url('/fonts/sweetsanspromedium.woff2') format('woff2'),
         url('/fonts/sweetsanspromedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sweet_sans_prolight';
    src: url('/fonts/sweetsansprolight.woff2') format('woff2'),
         url('/fonts/sweetsansprolight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    body {
        @apply bg-linenDark;
    }

    /* body, body a {
        cursor: none;
    } */

    h1 {
        @apply font-serif text-6xl lg:text-8xl;
    }

    h2 {
        @apply font-serif text-3xl lg:text-5xl text-wine;
    }

    ::-moz-selection {
        @apply text-black bg-white;
    }

    ::selection {
        @apply text-black bg-white;
    }
}

@layer utilities {
    .cursor {
        position: fixed;
        left: 0;
        top: 0;
        pointer-events: none;
      }
      .cursor--small {
        width: 10px;
        height: 10px;
        left: -5px;
        top: -5px;
        border-radius: 50%;
        z-index: 11000;
        background: rgba(226, 163, 97, .75)
      }
      .cursor--canvas {
        width: 100vw;
        height: 100vh;
        z-index: 12000;
      }

    /* .rsvp {
        transition: all 500ms;
    } */

    /* .rsvp.triggered {
        opacity: 1;
        transform: scale(1.1);
    } */

    .blur-in {
        filter: blur(20px);
        transform: scale(1.5);
        animation: blurIn 1.5s ease-out 0.5s forwards;
    }

    @keyframes blurIn {
        0% {
            filter: blur(20px);
            transform: scale(1.5);
        }
        100% {
            filter: blur(0);
            transform: scale(1);
        }
    }
}
