@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ttramillas-extralightregular';
    src: url('/fonts/ttramillas-extralight.woff2') format('woff2'),
         url('/fonts/ttramillas-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ttramillas-extralightitalicRg';
    src: url('/fonts/ttramillas-extralightitalic.woff2') format('woff2'),
         url('/fonts/ttramillas-extralightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sweet_sans_promedium';
    src: url('/fonts/sweetsanspromedium.woff2') format('woff2'),
         url('/fonts/sweetsanspromedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sweet_sans_proregular';
    src: url('/fonts/sweetsansproregular.woff2') format('woff2'),
         url('/fonts/sweetsansproregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sweet_sans_prolight';
    src: url('/fonts/sweetsansprolight.woff2') format('woff2'),
         url('/fonts/sweetsansprolight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    body {
        @apply bg-linen;
    }
    h1 {
        @apply font-serif text-6xl lg:text-8xl;
    }

    h2 {
        @apply font-serif text-3xl lg:text-5xl text-wine;
    }

    ::-moz-selection {
        @apply text-black bg-white;
    }

    ::selection {
        @apply text-black bg-white;
    }
    /* Slick slider */

    .slick-arrow {
        @apply w-12 h-12 absolute top-8 lg:top-6 inline-block z-50;
    }

    .slick-prev,
    .slick-prev:active {
        @apply left-auto right-12 lg:right-auto lg:-left-3;
        background-size: 50% !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-color: transparent !important;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMzciIHZpZXdCb3g9IjAgMCAyMCAzNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNy45OTc5IDAuNTg3ODkxTDE5LjQxMjIgMi4wMDIxTDIuOTE0MjEgMTguNTAwMUwxOS40MTIyIDM0Ljk5OEwxNy45OTc5IDM2LjQxMjJMMC4wODU3ODQ5IDE4LjUwMDFMMTcuOTk3OSAwLjU4Nzg5MVoiIGZpbGw9IiM2NjE5MUQiLz4KPC9zdmc+Cg==") !important;
    }

    .slick-next,
    .slick-next:active {
        @apply left-auto -right-4 lg:right-auto lg:left-16;
        background-size: 50% !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-color: transparent !important;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMzciIHZpZXdCb3g9IjAgMCAyMCAzNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjUwMjA1IDM2LjQxMjFMMC4wODc4NDEyIDM0Ljk5NzlMMTYuNTg1OCAxOC40OTk5TDAuMDg3ODQ0IDIuMDAyTDEuNTAyMDYgMC41ODc3ODJMMTkuNDE0MiAxOC40OTk5TDEuNTAyMDUgMzYuNDEyMVoiIGZpbGw9IiM2NjE5MUQiLz4KPC9zdmc+Cg==") !important;
    }

    .slick-prev:focus,
    .slick-next:focus {
        @apply ring-2 ring-offset-2;
    }

    .slick-prev::before,
    .slick-next::before {
        display: none;
    }

    .slick-prev:hover,
    .slick-next:hover {
        opacity: 0.6;
    }
}

@layer utilities {
    .container {
        @apply max-w-8xl mx-auto px-6 sm:px-8 md:px-12 lg:px-16
    }

    @media screen and (min-width: 768px) and (max-height: 700px) {
        .mainNav ul li a {
            @apply text-4xl;
        }
    }

    @media screen and (min-width: 768px) and (max-height: 600px) {
        .mainNav ul li a {
            @apply text-3xl py-1;
        }
    }

    .chatbubble {
        @apply p-4 rounded-2xl relative flex-1;
    }

    .chatbubble.left {
        @apply bg-linenDark ml-12;
    }

    .chatbubble.left:before {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: 0.75rem;
        left: -2rem;
        height: 2rem;
        width: 2rem;
        background: #D4CBC8;
    }

    .chatbubble.left:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0.75rem;
        left: -2rem;
        width: 2rem;
        height: 2rem;
        background: #E9E3E1;
        border-bottom-right-radius: 100px;
    }


    .chatbubble.right {
        @apply bg-gradient-to-r from-tinderRed to-tinderOrange text-white;
    }

    .chatbubble.right:before {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: 0.75rem;
        right: -2rem;
        height: 2rem;
        width: 2rem;
        background: #F77B6D;
    }

    .chatbubble.right:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0.75rem;
        right: -2rem;
        width: 2rem;
        height: 2rem;
        background: #E9E3E1;
        border-bottom-left-radius: 100px;
    }

}
