.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 12px;
    display: inline-block;
    width: 48px;
    height: 48px;
    z-index: 48;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
}

@media screen and (min-width: 1024px) {
    .slick-prev,
    .slick-next {
        top: 24px;
    }
}

.slick-prev {
    left: auto;
    right: 48px;
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMzciIHZpZXdCb3g9IjAgMCAyMCAzNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNy45OTc5IDAuNTg3ODkxTDE5LjQxMjIgMi4wMDIxTDIuOTE0MjEgMTguNTAwMUwxOS40MTIyIDM0Ljk5OEwxNy45OTc5IDM2LjQxMjJMMC4wODU3ODQ5IDE4LjUwMDFMMTcuOTk3OSAwLjU4Nzg5MVoiIGZpbGw9IiM2NjE5MUQiLz4KPC9zdmc+Cg==");
}

@media screen and (min-width: 1024px) {
    .slick-prev {
        right: auto;
        left: -12px;
    }
}
.slick-prev:before,
.slick-next:before {
    display: none;
}


.slick-next {
    left: auto;
    right: -12px;
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMzciIHZpZXdCb3g9IjAgMCAyMCAzNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjUwMjA1IDM2LjQxMjFMMC4wODc4NDEyIDM0Ljk5NzlMMTYuNTg1OCAxOC40OTk5TDAuMDg3ODQ0IDIuMDAyTDEuNTAyMDYgMC41ODc3ODJMMTkuNDE0MiAxOC40OTk5TDEuNTAyMDUgMzYuNDEyMVoiIGZpbGw9IiM2NjE5MUQiLz4KPC9zdmc+Cg==") !important;
}

@media screen and (min-width: 1024px) {
    .slick-next {
        right: auto;
        left: 64px;
    }
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 0.6;
}


/* .slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
} */
/* .slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
} */
